<configuration>

    <!-- JSON Encoder Logstash -->
    <!-- <include resource="net/logstash/logback/logback.xml"/> -->

    <!-- File Appender dengan log harian -->
    <appender name="ACTIVITY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Pisah file log per hari -->
            <fileNamePattern>logs/activity.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Simpan maksimal 7 hari -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger untuk controller tertentu -->
    <logger name="com.bni.api.controller.AuthController" level="INFO" additivity="false">
        <appender-ref ref="ACTIVITY_FILE"/>
    </logger>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ACTIVITY_FILE"/>
    </root>

</configuration>
